.linear {
    background: linear-gradient(to right, rgba(30, 213, 169, 1) 0%, rgba(1, 180, 228, 1) 100%);
    border: 2px solid;
    color: white;
}

.circle {
    margin: 0.5rem;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    background-color: #032541;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primaryShape {
    // p-7 border-2 border-solid rounded-l-[30px] rounded-r-[30px] m-4
    padding: 1.75rem;
    border: 2px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 1rem;
}

.keyword {
    padding: 4px 10px;
    height: 28px;
    width: auto;
    border-radius: 4px;
    color: #000;
    border: 1px solid #d7d7d7;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: 0;
    margin-left: 0;
    margin-right: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
